@charset "UTF-8";

#visualizer-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9997;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

#controller-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 100%;
    height: 100%;
}

#controller-canvas.onController {
    cursor: none;
}

#select-preset {
    position: fixed;
    top: 4px;
    right: 4px;
    z-index: 9999;
    cursor: pointer;
}
